header{
  margin-bottom: 20px;
  background-color: rgb(244, 79, 79);
  text-align:  center;
}

h1{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  color: rgb(255, 255, 255);
}

p{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 20px;
}

body{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

a{
  font-size: 20px;
  color: rgb(255, 255, 255);
}

main{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#parent{ 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contents{
  border: solid 3px rgb(238, 204, 204);
  flex-basis: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center; 
  margin: 20px 0px 20px 0px; /* 修正: ブロック間の余白を追加 */
  }

h2{
  font-size: 25px;
  border-bottom: 3px dotted rgb(236, 122, 122);
}

h2::before {
  content: "●";
     color: rgb(239, 111, 139);
}

p:nth-of-type(2)::first-letter {
  color: rgb(97, 206, 249);
  font-weight: bold;
}

.contents img {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  width: 70%;
}

footer{
  background-color: rgb(244, 79, 79);
  text-align:  center;
}


a:visited {
  color: rgb(193, 234, 251);
}

a:hover {
  color: rgb(245, 178, 168);
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 30px;
  }

  p {
    font-size: 25px;
  }

  #parent {
    display: flex;
    flex-direction: column;
    align-items: center; /* 修正: 中央寄せ */
  }

  .contents {
    width: 90%; /* 修正: モバイル表示で幅を調整 */
    margin-bottom: 20px; /* 修正: ブロック間の余白を追加 */
  }
}
